.btn {
  position: fixed;
  bottom: 70px;
  right: 40px;
  background: #fff;
  color: #000;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 99;
  border: 1px solid #0003;
}

.btn:hover {
  background: #111;
  color: #fff;
}
