.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.ratingRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stars {
  color: #ffad33;
}

.reviews {
  color: #777;
  font-size: 14px;
}

.priceRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-size: 24px;
  font-weight: 500;
}

.oldPrice {
  text-decoration: line-through;
  color: #777;
}

.discount {
  color: #DB4444;
}

.description {
  color: #000;
  line-height: 21px;
  
}

.colors {
  display: flex;
  align-items: center;
  gap: 16px;
}

.colors span {
    font-size: 20px;
  font-weight: 500;
}

.colorDots {
  display: flex;
  gap: 8px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}

.active {
  border: 2px solid #000;
}

.actions {
  display: flex;
  gap: 16px;
}

.quantity {
  display: flex;
  align-items: center;
  border: 1px solid #777;
  border-radius: 4px;
}

.quantity button {
  padding: 8px 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.quantity button:nth-child(1) {
  border-right: 1px solid #777;
}
.quantity button:nth-child(3) {
  background-color: #DB4444;
  border: outset #DB4444;
color: #fff;
}

.quantity span {
  padding: 0 12px;
}

.addToCart {
  flex: 1;
  background: #db4444;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
}

.delivery {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 4px;
}

.deliveryItem {
  display: flex;
  padding: 24px 16px;
  gap: 16px;
  align-items: center;
}

.deliveryItem:first-child {
    border-bottom: 1px solid #000;
}

.deliveryItem svg {
    width: 40px;
    height: 40px;
}

.deliveryItem div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.deliveryItem div p {
    text-decoration: underline;
    cursor: pointer;
}