/* default timer style */
.timerWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.timeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem 0.7rem;
}

.label {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.number {
  font-size: 40px;
  font-weight: 700;
  color: #000;
}

.separator {
  font-size: 32px;
  font-weight: bold;
  color: #e07575;
}

/* other timer style [Banner timer style] */
.bannerBox {
  background: #fff;
  border-radius: 50%;
  width: 67px;
  height: 67px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.18);
}

.bannerNumber {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  order: 1;
}

.bannerLabel {
  font-size: 10px;
  color: #000;
  order: 2;
}
.bannerSeparator {
  display: none;
}