.timerWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.timeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem 0.7rem;
}

.label {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.number {
  font-size: 40px;
  font-weight: 700;
  color: #000;
}

.separator {
  font-size: 32px;
  font-weight: bold;
  color: #e07575;
}
