.card {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 12px;
  overflow: hidden;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  cursor: pointer;
  
}

.card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.18);
  transform: translateY(-2px);
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 250px;
  background: #f5f5f5;
  border-radius: 4px;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.card:hover .imageWrapper img {
  transform: scale(1.05);
}

.icons {
  position: absolute;
  top: 12px;
  right: 12px;
  display: grid;
  gap: 12px;
  transition: all 0.2s ease;
}

.card:hover .iconsContainer {
  opacity: 1;
  transform: translateX(0);
}

.icon {
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.icon:hover {
  background: #db4444;
  color: #fff;
}
.icon.active {
  background: #db4444;
  color: #fff;
}
.badge {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #db4444;
  color: #fff;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 4px;
}

.new {
  background: #27ae60;
}

.addToCart {
  position: absolute;
  bottom: -48px;
  left: 0;
  width: 100%;
  background: #000;
  color: white;
  padding: 10px 0;
  text-align: center;
  transition: 0.3s ease;
  font-weight: 600;
  font-size: 18px;
  border: none;
  outline: none;
}

.card:hover .addToCart {
  bottom: 0;
}

.details {
  margin-top: 14px;
}

.title {
  font-weight: 600;
  margin-bottom: 4px;
  color: #000000;
}

.prices {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  color: #db4444;
  font-weight: 500;
  font-size: 16px;
}

.oldPrice {
  color: #aaa;
  text-decoration: line-through;
  font-size: 14px;
}
.ratingView {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 2px;
}
.star {
  font-size: 18px;
  display: flex;
  color: #ffad33;
}
.views{
  font-weight: 700;
  color: #777;
}
.colors {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .imageWrapper {
    height: 170px;
  }

  .card {
    padding: 10px;
  }

  .title {
    font-size: 14px;
  }

  .price {
    font-size: 15px;
  }

  .stars {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .imageWrapper {
    height: 150px;
  }

  .card {
    padding: 8px;
  }

  .badge {
    font-size: 12px;
    padding: 3px 8px;
  }
}
