.right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.searchBox{
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 4px;
    background: #F5F5F5;
    padding: 7px 12px 7px 12px;
}

.searchBox input {
    border: none;
    outline: none;
    background: transparent;
}

.iconBox {
    position: relative;
    font-size: 24px;
    cursor: pointer;
}

.count {
    position: absolute;
    top: -6px;
    left: 12px;
    background: #DB4444;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.userBox {
    position: relative;
    cursor: pointer;
}
.activeUserIcon {
    background-color: #DB4444;
    color: #F5F5F5;
    border-radius: 50%;
    padding: 4px;
    font-size: 28px;
    transition: all .2s ease-in-out;
}
.dropdown {
    position: absolute;
    top: 35px;
    right: 0;
    background-color: #00000050;
    border-radius: 4px;
    width: 240px;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.dropdown li {
    padding: 8px 14px;
    cursor: pointer;
    display: flex;
    gap: 16px;
    border-radius: 4px;
    color: #f5f5f5;
}

.dropdown li:hover {
    background: #f5f5f5;
    color: #000;
}

@media (max-width: 768px) {
    .right .searchBox input {
        display: none;
    }
}