.nav {
    display: flex;
    gap: 40px;
}
.nav a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    transition: .2s ease-in-out;
}
.nav a:hover {
    color: #DB4444;
    text-decoration: underline;
}

.active {
    color: #DB4444 !important;
    text-decoration: underline !important;
}
