/* Hero Section Styles */
.hero {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 20px;
  align-items: stretch;
}
.section {
  padding: 70px 40px 0 40px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
}
.cards,
.categories {
  padding: 40px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  gap: 20px;
  justify-content: start;
}
.categories {
  grid-template-columns: repeat(6, minmax(170px, 1fr));
  margin-bottom: 70px;
}

@media (max-width: 992px) {
  .hero {
    grid-template-columns: 220px 1fr;
  }
}
@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .hero > :first-child {
    order: 2;
  }
  .hero > :last-child {
    order: 1;
  }
}
@media (max-width: 480px) {
  .hero {
    gap: 10px;
  }
}
