/* Hero Section Styles */
.hero {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 20px;
  align-items: stretch;
}
.section, .banner, .services {
  padding: 70px 40px 0 40px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
}
.cards,
.categories {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  gap: 20px;
  justify-content: start;
}
.categories {
  grid-template-columns: repeat(6, minmax(170px, 1fr));
}

.banner, .services {
  margin-bottom: 70px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 16px;
  align-items: start;
  padding: 40px 0;
}

.cardWrapper {
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightTop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.cards {
  grid-template-columns: repeat(4, 1fr); 
}

/* PDP */
.wrapperPDP {
  padding: 40px 40px 0 40px;
}

.layoutPDP {
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  align-items: flex-start;
}


@media (max-width: 992px) {
  .hero {
    grid-template-columns: 220px 1fr;
  }

  .flex{
    flex-wrap: wrap;
  }
.cards, .grid, .categories {
  grid-template-columns: repeat(2, 1fr); 
  
}
  .layout {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .hero > :first-child {
    order: 2;
  }
  .hero > :last-child {
    order: 1;
  }
}
@media (max-width: 480px) {
  .hero {
    gap: 10px;
  }
  .cards, .grid, .categories {
  grid-template-columns: repeat(1, 1fr); 
  
}
button{
  padding: 16px !important;
  font-size: 12px !important;
}
h4 {
  font-size: 24px !important;
  margin: 8px 0;
}

}
