.item {
  background: #fff;
  border: 1px solid #00000030;
  border-radius: 4px;
  padding: 30px 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transition: all 0.25s ease;
}

.item:hover {
  border-color: none;
  transform: translateY(-4px);
  background: #db4444;
  color: #fff;
}

.name {
  font-size: 18px;
  font-weight: 400;
}
