.breadcrumbs {
  margin: 40px auto;

  display: flex;
  gap: 8px;
  align-items: center;

  font-size: 14px;
  color: #777;
}

.breadcrumbs span:last-child {
  color: #000;
}

.breadcrumbs span,
.breadcrumbs a {
  color: #777;
  text-decoration: none;
}