.card {
  position: relative;
  background: #000;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.large {
  height: 600px;
}

.medium {
  height: 284px;
}

.small {
  height: 284px;
}

.image {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 95%;
  object-fit: contain;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 3;
  max-width: 55%;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
}

.desc {
  font-size: 14px;
  margin-bottom: 14px;
  opacity: 0.85;
}

.content a {
    color: #fff;
}

/* ------------- RESPONSIVE ------------- */
@media (max-width: 992px) {
  .large {
    height: 350px;
  }

  .content {
    max-width: 70%;
  }
}

@media (max-width: 576px) {
  .card {
    padding: 20px;
  }

  .title {
    font-size: 18px;
  }

  .desc {
    font-size: 13px;
  }

  .image {
    opacity: 0.5;
  }
}
